<ul class="breadcrumbs">
	<li class="breadcrumbs-item">
		<a href="{{ home_url }}">{{ __('Головна', 'archizem') }}</a>
	</li>
	<li class="breadcrumbs-item breadcrumbs-item--current">
		<span>{{ post.title }}</span>
	</li>
</ul>
