:root {
  // Color
  --black-color: #2C2C36;
  --green-color: #1E836B;
  --green-color-80: rgba(30, 131, 107, .8);
  --green-hover-color: #196E5A;
  --blue-color: #2867B2;
  --white-color: #FFF;
  --grey-color-10: rgba(44, 44, 54, .1);

  // Other
  --transition: all .25s ease-in-out;
}